<html>

<head>
    <title>Petree Print</title>
    <link href="./resources/favicon.png" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    </link>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    </link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC8iqW-J1UCgSg7GHez4SuO51APq_n6AJI",
            authDomain: "cen3031-photography-group3.firebaseapp.com",
            databaseURL: "https://cen3031-photography-group3.firebaseio.com",
            projectId: "cen3031-photography-group3",
            storageBucket: "cen3031-photography-group3.appspot.com",
            messagingSenderId: "194055935448"
        };
        firebase.initializeApp(config);
    </script>
</head>

<script type="text/javascript">
    window.onload = account()

    function account() {
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                document.getElementById("sign_out").style.display = 'block';
                document.getElementById("sign_in").style.display = 'none';
            } else {
                document.getElementById("sign_in").style.display = 'block';
                document.getElementById("sign_out").style.display = 'none';
            }
        });
    };

    function signOut() {
        firebase.auth().signOut().then(function () {
            console.log('Signed Out');
        }, function (error) {
            console.error('Sign Out Error', error);
        })
        window.location.href = '/';
    };

    function signIn() {
        window.location.href = '/login';
    };
</script>

<body>
    <nav class="navbar navbar" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="./resources/petree_logo.png" height="50" alt="">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="/upload">Upload</a></li> -->
                <li><a class="active" href="/dashboard">Dashboard</a></li>
                </li>
                <li><button class="log_in" id="sign_out" onclick="signOut()"> Sign Out </button></li>
                <li><button class="log_in" id="sign_in" onclick="signIn()"> Sign In </button></li>
            </ul>
        </div>
    </nav>

    <div class="pageContent">
        <!-- <div class="title-login">
            <h2>Petree Prints</h2>
            <a class="log_in" href="/login" role="button">Log In</a>
            <a class="log_in" href="/signin" role="button">Sign In</a>
        </div>

        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
                <li class="active"><a href="/dashboard">Dashboard</a></li>
                <li><a href="/trackOrder">Track Order</a></li>
            </ul>
        </div> -->

        <div ng-app="mainApp" class="aquaSection" id="backgroundAqua">
            <div class="container">
               
                <div ng-controller="DashboardController">
                    <div class="flex-container">
                        <div class="listTable">
                                <h1>Dashboard</h1>  
                            <div class="input-group" id="searchBar">
                                <span class="input-group-addon" id="sizing-addon1"><span
                                        class="glyphicon glyphicon-search"></span></span>
                                <input type="text" class="form-control" placeholder="Search" ng-model="query">
                            </div>
                            <div class="tableWrapper">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>Name</th>
                                        <th>Order Status</th>
                                        <th>Date Ordered</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="listing in listings | filter: query track by $index"
                                        ng-click="showDetails($index)">
                                        <td>{{listing.firstName}} {{listing.lastName}}</td>
                                        <td>{{listing.orderStatus}}</td>
                                        <td>{{listing.created_at}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <div>
                            <div class="card" style="width: 18rem;" ng-repeat="listing in listings | filter: query track by $index"
                            ng-click="showDetails($index)">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg/220px-Ash_Tree_-_geograph.org.uk_-_590710.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div> -->
                        </div>
                        <div class="displayDataView">

                            <h2>View Order</h2>
                            <p>Name: {{detailedInfo.firstName}} {{detailedInfo.lastName}}</p>
                            <p>Order Status: {{detailedInfo.orderStatus}}</p>
                            <p>Medium: {{detailedInfo.medium}}</p>
                            <p>Photo Size: {{detailedInfo.photoSize}}</p>
                            
                            <p>Enter Tracking Number: <input type="text" id="trackingNumber" class="trackingNumber" placeholder={{detailedInfo.trackingNumber}}
                                    ng-model="trackingNumber" />
                                <button ng-click="modifyTrackingNumber(detailedInfo._id)">Enter</button>
                                <br />
                            </p>
                            <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            </link>

                            <a href={{detailedInfo.FBImageURL}} download>
                                <button class="btn" ng-click="downloadImage()"><i class="fa fa-download"></i> Download
                                    Image</button>

                                <div class="dropdown">
                                    <button class="standardButton">Change Order Status</button>
                                    <div class="dropdown-content">
                                        <a ng-click="modifyOrderStatus(detailedInfo._id, 'Printing')">Printing</a>
                                        <a ng-click="modifyOrderStatus(detailedInfo._id, 'Preparing to Ship')">Preparing
                                            to
                                            Ship</a>
                                        <a ng-click="modifyOrderStatus(detailedInfo._id, 'Shipped')">Shipped</a>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div style="text-align:center">
                    		<p style="font-weight:bold">Shipping Address</p>
                    		<p>{{detailedInfo.firstName}} {{detailedInfo.lastName}}</p>
                    		<p>{{detailedInfo.address}}</p>
                    		<p>{{detailedInfo.city}} {{detailedInfo.state}}, {{detailedInfo.zipCode}}</p>
						</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/listingFactory.js"></script>
<script src="https://rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.js"></script>

<script src="js/controllers/dashboardController.js"></script>

</html>