<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/listingFactory.js"></script>
  <script src="js/controllers/listingController.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Petree Print</a>
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <a href="/upload">Upload</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>
    <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Photo Upload</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <form novalidate class="simple-form">
            <h2>Add New Listing</h2>
            First Name: <input type="text" ng-model="newUpload.firstName" /><br />
            Last Name: <input type="text" ng-model="newUpload.lastName" /><br />
            Address: <input type="text" ng-model="newUpload.address" /><br />
            City: <input type="text" ng-model="newUpload.city" /><br />
            State: <input type="text" ng-model="newUpload.state" /><br />
            Zip Code: <input type="text" ng-model="newUpload.zipCode" /><br />
              
            <h3>Photo print sizes</h3> 
            <input type="radio" ng-model="newUpload.photoSize" name="photoSize" value="5x10"> 5x10 Photo<br>
            <input type="radio" ng-model="newUpload.photoSize" name="photoSize" value="20x30"> 20x30 Photo<br>
            <input type="radio" ng-model="newUpload.photoSize" name="photoSize" value="40x70"> 40x70 Photo 
              <br />
              
            <h3>Print Material</h3> 
            <input type="radio" ng-model="newUpload.medium" name="paperMaterial" value="matte"> Matte<br>
            <input type="radio" ng-model="newUpload.medium" name="paperMaterial" value="canvas">Canvas<br>
              <br />
              
              <button> Upload <input type="file" ng-file-select="onFileSelect($files)"></button> <br/>
              
              
            <button class="btn btn-primary" ng-click="uploadNewPhoto()">Upload Photo</button>
             <!-- below added by madeline for Buy Now paypal button-->
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Hot Sauce-12oz. Bottle">
              <input type="hidden" name="amount" value="5.95">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
              alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            Buy Now with product options
            
            This code sample configures a basic Buy Now button with an option menu named "Type of umbrella."
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Premium Umbrella">
              <input type="hidden" name="amount" value="50.00">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Provide a drop-down menu option field. -->
              <input type="hidden" name="on0" value="Type">Type of umbrella <br />
              <select name="os0">
                <option value="Select Type">-- Select Type --</option>
                <option value="Standard">Standard</option>
                <option value="Collapsable">Collapsable</option>
              </select> <br />
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
            
              <img alt="" border="0" width="1" height="1"
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            This sample code displays this image on your web page:
            
            Paste the code onto your web page below an image or a text description of the item.
            Buy Now button with product options with prices
            
            This code sample configures a basic Buy Now button with a drop-down menu of product options. Each option has its own price.
            
            Product options with prices specify the prices in two places:
            
                The drop-down menu displays the prices for each option. Buyers see the prices they pay for each option.
                A list of hidden HTML variables repeats the prices for each option. PayPal uses these prices to charge buyers for the options they choose.
            
            Drop-down menus with option prices use the following variables:
            
                currency_code: Sets the currency for option prices.
                item_index: Identifies which drop-down menu of product option has prices.
                option_select and option_amount: Repeats the prices for each option.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Design">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Provide a drop-down menu option field. -->
              <input type="hidden" name="on0" value="Type">Design<br />
              <select name="os0">
                <option value="Select a type">-- Select a type --</option>
                <option value="Standard">Striped</option>
                <option value="Collapsible">Solid</option>
              </select> <br />
            
              <!-- Provide a drop-down menu option field with prices. -->
              <input type="hidden" name="on1" value="Design">Design <br />
              <select name="os1">
                <option value="06oz">Striped - $30.00 USD</option>
                <option value="12oz">Solid - $25.0 USD</option>
                <option value="36oz">Dots - $20.00 USD</option>
              </select> <br />
            
              <!-- Specify the price that PayPal uses for each option. -->
              <input type="hidden" name="option_index" value="1">
              <input type="hidden" name="option_select0" value="Striped">
              <input type="hidden" name="option_amount0" value="30.00">
              <input type="hidden" name="option_select1" value="Solid">
              <input type="hidden" name="option_amount1" value="25.00">
              <input type="hidden" name="option_select2" value="Dots">
              <input type="hidden" name="option_amount2" value="20.00">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
            
            </form>
            
            This sample code displays this image on your web page:
            
            Buy Now button with product options as a text box
            
            This code sample configures a basic Buy Now button with a text box for entering product options.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Hot Sauce-12 oz. Bottle">
              <input type="hidden" name="amount" value="5.95">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Provide the buyer with a text box option field. -->
              <input type="hidden" name="on0" value="strong>Size">Enter your size (S, M, L, X, XX) <br />
              <input type="text" name="os0" maxlength="60"> <br />
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            This sample code displays this image on your web page:
            
            Paste the code onto your web page below an image or a text description of the item.
            Buy Now button that prompts for quantities
            
            This sample code configures a basic Buy Now button that prompts buyers to specify item quantities. Use this option carefully because buyers might request more items than you have in your inventory. To avoid this issue, set up inventory tracking.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Premium Umbrella">
              <input type="hidden" name="amount" value="50.00">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Prompt buyers to enter the quantities they want. -->
              <input type="hidden" name="undefined_quantity" value="1">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            This sample code displays a similar image during checkout:
            
            Buy Now button with discounts
            
                A flat discount amount
                Multiple discount amounts
                Discount percentages
                Buy one, get one free discount
            
            A flat discount amount
            
            This sample code configures a basic Buy Now button that:
            
                Provides a $2.00 discount on the entire order.
                Prompts buyers to also specify item quantities. Use this option carefully because buyers might request more items than you have in your inventory. To avoid this issue, set up inventory tracking.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers purchase. -->
              <input type="hidden" name="item_name" value="Hot Sauce-12 oz. Bottle">
              <input type="hidden" name="amount" value="5.95">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Specify the discount amounts that apply to the order. -->
              <input type="hidden" name="discount_amount" value="2.00">
            
              <!-- Prompt buyers to enter the quantities they want. -->
              <input type="hidden" name="undefined_quantity" value="1">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            Multiple discount amounts
            
            This sample code configures a basic Buy Now button that:
            
                Provides a $0.15 discount on the first item ordered.
                Provides a $0.20 discount on the next four items.
                Prompts buyers to specify item quantities. Use this option carefully because buyers might request more items than you have in your inventory. To avoid this issue, set up inventory tracking.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Hot Sauce-12 oz. Bottle">
              <input type="hidden" name="amount" value="5.95">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Specify the discount amounts that apply to the item. -->
              <input type="hidden" name="discount_amount" value="0.15">
              <input type="hidden" name="discount_amount2" value="0.20">
              <input type="hidden" name="discount_num" value="4">
            
              <!-- Prompt buyers to enter the quantities they want. -->
              <input type="hidden" name="undefined_quantity" value="1">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            Discount percentages
            
            This sample code configures a basic Buy Now button that:
            
                Provides a 5% discount on the first item ordered.
                Provides a 10% discount on the next four items.
                Prompts buyers to specify item quantities. Use this option carefully because buyers might request more items than you have in your inventory. To avoid this issue, set up inventory tracking.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="Hot Sauce-12 oz. Bottle">
              <input type="hidden" name="amount" value="5.95">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Specify the discount percentages that apply to the item. -->
              <input type="hidden" name="discount_rate" value="5">
              <input type="hidden" name="discount_rate2" value="10">
              <input type="hidden" name="discount_num" value="4">
            
              <!-- Prompt buyers to enter the quantities they want. -->
              <input type="hidden" name="undefined_quantity" value="1">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            
            </form>
            
            Buy one, get one free discount
            
            This sample code shows a basic Buy Now button that:
            
                Offers a "Buy one, get one free" discount. To receive the discount, the buyer must purchase two of the item; the second one is free (100% discount).
                Prompts buyers to specify item quantities. Use this option carefully because buyers might request more items than you have in your inventory. To avoid this issue, set up inventory tracking.
            
            If the buyer purchases only 1 unit of the item, it is the full price. If the buyer purchases more than 2 units, the 2nd unit is free and any additional units are full price.
            
            Paste this code onto your web page below an image or a text description of the item.
            
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            
              <!-- Identify your business so that you can collect the payments. -->
              <input type="hidden" name="Petree's Prints" value="mhfarina1@gmail.com">
            
              <!-- Specify a Buy Now button. -->
              <input type="hidden" name="cmd" value="_xclick">
            
              <!-- Specify details about the item that buyers will purchase. -->
              <input type="hidden" name="item_name" value="User Print">
              <input type="hidden" name="amount" value="10.00">
              <input type="hidden" name="currency_code" value="USD">
            
              <!-- Specify the discount percentages that apply to the item. -->
              <input type="hidden" name="discount_rate" value="0">
              <input type="hidden" name="discount_rate2" value="100">
              <input type="hidden" name="discount_num" value="1">
            
              <!-- Prompt buyers to enter the quantities they want. -->
              <input type="hidden" name="undefined_quantity" value="1">
            
              <!-- Display the payment button. -->
              <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="Buy Now">
              <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            <!-- maybe delete this and the form below--></form>            
          </form>
        </div>
      </div>
    </div>
</body>
</html>