<html>
    
<head>
    <title>Petree Print</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="styles/upload.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/orderprocess.js"></script>
    <script src="js/controllers/cropController.js"></script>
    <script src="http://rawgit.com/CrackerakiUA/ui-cropper/master/compile/unminified/ui-cropper.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC8iqW-J1UCgSg7GHez4SuO51APq_n6AJI",
            authDomain: "cen3031-photography-group3.firebaseapp.com",
            databaseURL: "https://cen3031-photography-group3.firebaseio.com",
            projectId: "cen3031-photography-group3",
            storageBucket: "cen3031-photography-group3.appspot.com",
            messagingSenderId: "194055935448"
        };
        firebase.initializeApp(config);
    </script>
</head>
    
<body>
    <div style="margin:20px">
        <div class="title-login">
            <h2>Petree Prints</h2>
            <a class="log_in" href="/login" role="button">Log In</a>
            <a class="log_in" href="/signin" role="button">Sign In</a>
        </div>

        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/upload">Upload</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/">Track Order</a></li>
            </ul>
        </div>
        <div class="flex-container">
            <div class="divLeft">

                <div ng-app="mainApp" ng-controller="CropController" style=" margin:20px">
                    <div id="size" style="padding:10px">
                        <h2 class="title">Photo print size</h2>
                        <p>Select from the list below to choose which size you would like to crop print for.</p>
                        </br>
                        <form>
                            <fieldset>
                                <legend>List size: </legend>
                                <div class="form-group">
                                    <select class="form-control" name="campaignSelect" id="repeatSelect" ng-model="selectedOption" ng-options="option.name for option in availableOptions"></select>
                                </div>
                            </fieldset>
                        </form>
                        <div class="well">
                            <div class="alert alert-success">
                                <h4>You have selected:</h4>
                                <p>{{selectedOption.name}}</p>
                            </div>
                        </div>
                        <p><a class="log_in" onclick="showSection('material', 'size')" role="button">Next step</a></p>

                    </div>
                    <div class="jumbotron" id="material" style="display: none;">
                        <h2 class="title">Print Material</h2>
                        <input type="radio" ng-model="newUpload.medium" name="paperMaterial" value="matte"> Matte<br>
                        <input type="radio" ng-model="newUpload.medium" name="paperMaterial" value="canvas"> Canvas<br>
                        <br />
                        <p><a class="log_in" onclick="showSection('upload', 'material')" role="button">Next step</a></p>
                        <p><a class="log_in" onclick="showSection('size', 'material')" role="button">Go Back</a></p>
                    </div>

                    <div class="jumbotron" id="upload" style="display: none;">
                        <h2>Select an image file:</h2>
                        <div class="row">
                            <div class="col-lg-5">
                                <h3>Upload</h3>
                                <p>Upload image from your computer</p>
                                <!--  <input class="btn btn-default btn-lg" type="file" id="fileInput" />   -->
                                <button>
                                    Upload <input type="file" id="file" name="file" />

                                </button>
                            </div>
                            <div class="col-lg-2">
                                <h3>or</h3>
                            </div>
                            <div class="col-lg-5">
                                <h3>Copy/Paste</h3>
                                <p>Copy and paste the image url below</p>
                                <input type="text" class="form-control input-lg" placeholder="Image url" ng-model="myImage">
                                </br>
                            </div>
                        </div>
                        <p><a class="btn btn-primary btn-lg" onclick="showSection('crop', 'upload')" role="button">Next step</a></p>
                    </div>

                    <div class="jumbotron" id="crop" style="display: none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Crop Image</h2>
                                <h3>Crop Area for {{selectedOption.name}}</h3>
                                </br>
                                <div class="cropArea">
                                    <br><br><br><br><br><br><br>
                                    <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="1.7" result-image="myCroppedImage"
                                                result-image-size="{w: selectedOption.value.w, h: selectedOption.value.h}" area-min-size="{w:selectedOption.value.w, h: selectedOption.value.h}"
                                                init-max-area="true" style="margin-left: 150px;"></ui-cropper>
                                </div>
                            </div>
                            <div class="col-lg-offset-2 col-lg-4">
                                <h3>Preview Image:</h3>
                                </br>
                                <img ng-src="{{myCroppedImage}}" class="preview-image img-responsive" />
                                </br>
                                <div class="download-well well">
                                    <p class="text-danger">*Dont forget to add ".jpg" to the end of your file name before downloading</p>
                                    <input type="text" class="form-control" placeholder="File name" ng-model="filename"> <br>
                                    <button class="btn btn-primary btn-lg btn-block" ng-click="download()">DOWNLOAD</button>
                                </div>
                            </div>
                        </div>
                        <p><a class="btn btn-primary btn-lg" onclick="showSection('singup', 'crop')" role="button">Next step</a></p>
                    </div>

                    <div class="jumbotron" id="singup" style="display: none;">
                        <h2>Sign up/Login</h2>
                        <p><a class="btn btn-primary btn-lg" onclick="showSection('userinfo', 'singup')" role="button">Next step</a></p>
                    </div>

                    <div class="jumbotron" id="userinfo" style="display: none;">
                        <h2>User Information</h2>
                        First Name: <input type="text" ng-model="newUpload.firstName" /><br />
                        Last Name: <input type="text" ng-model="newUpload.lastName" /><br />
                        Address: <input type="text" ng-model="newUpload.address" /><br />
                        City: <input type="text" ng-model="newUpload.city" /><br />
                        State: <input type="text" ng-model="newUpload.state" /><br />
                        Zip Code: <input type="text" ng-model="newUpload.zipCode" /><br />
                        <p><a class="btn btn-primary btn-lg" onclick="showSection('payment', 'userinfo')" role="button">Next step</a></p>
                        <button class="btn btn-primary" ng-click="uploadNewPhoto()">Upload Photo</button>
                    </div>

                    <div class="jumbotron" id="payment" style="display: none;">
                        <h2>Payment</h2>
                        <!-- below added by madeline for paypal buttons-->
                        <div>
                            <br> <br>
                            <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
                            <script>paypal.Buttons().render('body');</script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divRight">
                <p>Your Order</p>
            </div>
        </div>

    </div>
    <script>
        var auth = firebase.auth();
        var storageRef = firebase.storage().ref();
        function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            var file = evt.target.files[0];
            var metadata = {
                'contentType': file.type
            };
            // Push to child path.
            // [START oncomplete]
            storageRef.child('images/' + file.name).put(file, metadata).then(function (snapshot) {
                console.log('Uploaded', snapshot.totalBytes, 'bytes.');
                console.log('File metadata:', snapshot.metadata);
                // Let's get a download URL for the file.
                snapshot.ref.getDownloadURL().then(function (url) {
                    console.log('File available at', url);
                    // [START_EXCLUDE]
                    document.getElementById('linkbox').innerHTML = '<a href="' + url + '">Click For File</a>';
                    // [END_EXCLUDE]
                });
            }).catch(function (error) {
                // [START onfailure]
                console.error('Upload failed:', error);
                // [END onfailure]
            });
            // [END oncomplete]
        }
        window.onload = function () {
            document.getElementById('file').addEventListener('change', handleFileSelect, false);
            document.getElementById('file').disabled = true;
            auth.onAuthStateChanged(function (user) {
                if (user) {
                    console.log('Anonymous user signed-in.', user);
                    document.getElementById('file').disabled = false;
                } else {
                    console.log('There was no anonymous session. Creating a new anonymous user.');
                    // Sign the user in anonymously since accessing Storage requires the user to be authorized.
                    auth.signInAnonymously().catch(function (error) {
                        if (error.code === 'auth/operation-not-allowed') {
                            window.alert('Anonymous Sign-in failed. Please make sure that you have enabled anonymous ' +
                                'sign-in on your Firebase project.');
                        }
                    });
                }
            });
        }
    </script>
</body>
    <!-- <script type="module" src="../node_modules/cropperjs/dist/cropper.js"></script> -->
    <!-- <script src="js/main.js"></script> -->
    
    
</html>
