#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 600px;
  overflow: auto;
}

.listTable {
  flex-grow: 3;
  background-color: #edefed;
}

.displayDataView {
  flex-grow: 1;
  background-color: white;

}

.flex-container {
  display: flex;
  align-items: stretch;
  margin-top: 40px;
}

.flex-container>div {
  width: 100px;
  margin: 10px;
  padding: 10px;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}