* {
    font-family: 'Mukta', sans-serif;
}

p {
    font-size: 16px;
}

.standardButton {
    background-color: #FFCA00;
    /* Yellow */
    border: none;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0px;
    color: #3A3A3A;
    font-weight: bold;
}

.standardButton:hover {
    background-color: #FF4C5E !important;
    color: white;
    text-decoration: none;
}

footer {
    float: left;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}