#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.card {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.31);
}

.imageCrop {
  max-width: 100%;
}