.divLeft {
  flex-grow: 5;
  background-color: #edefed;
}

.divRight {
  flex-grow: 1;
  background-color: #e0f9e1;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container>div {
  width: 100px;
  margin: 10px;
  padding: 10px;
}



.next {
  background-color: #53ad29;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px;
  border-radius: 5px;
  float: right;
  display: flex;
  align-items: stretch;

}

.back {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  float: right;
}

.next:hover {
  background-color: #316818;
  color: white;
  text-decoration: none;
}

.next:disabled {
  background-color: #25422d;
}

.back:hover {
  background-color: #6d6d6d;
  color: white;
  text-decoration: none;
}

.submitButton {
  background-color: #53ad29;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.submitButton:hover {
  background-color: #316818;
  color: white;
  text-decoration: none;
}

label {
  font-weight: normal;
}